@page
@model ImageProcessing.Web.FileUploadModel
@{
    ViewData["Title"] = "Upload Images";
}
<div class="alert alert-custom" id="success-success" style="visibility:hidden;">
    @*<button type="button" class="close" data-dismiss="alert">x</button>*@
    <strong>Success! </strong> All the Images are uploaded to server!!.
</div>
<h5>Upload Images</h5>
<center>
    <div id="dynamic" class="progress" style="visibility:hidden;width:50%;">
        <div class="progress-bar progress-bar-info" id="progress-bargloabal" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="background:#d9534f;">
            <span id="current-progress"></span>
        </div>
    </div>
</center>
<span id="spnDocMsg_fileupload" class="error" style="display: none;"></span>
<div style="background-color:#d9534f;width:20%">
    @Model.Result
</div>


<dl>
    <dt>
        <label asp-for="FileUpload.FormFiles"></label>
    </dt>
    <dd>
        <div id="mulitplefileuploader">Upload</div>
        <div id="status"></div>


    </dd>
</dl>
<dl>
    <dt>
        <label asp-for="FileUpload.Stadium"></label>
    </dt>
    <dd>
        <input asp-for="FileUpload.Stadium" id="stadiumName" style="        border-radius: 15px;
        padding: 2px;" />
        <span class="inputError" asp-validation-for="FileUpload.Stadium"></span>
    </dd>
</dl>
<dl>
    <dt>
        <label asp-for="FileUpload.DateTime"></label>
    </dt>
    <dd>
        <input asp-for="FileUpload.DateTime" id="eventDate" style="border-radius: 15px; padding:2px;" />
        <span class="inputError" asp-validation-for="FileUpload.DateTime"></span>
    </dd>
</dl>

<input id="btnSubmit" class="btn btn-dark" style="border-radius:10px;" type="button" value="Submit" />

<hr />

