@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="color:cornsilk;">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p>Image Processing Application</p>
</div>
