@page
@model ImageProcessing.Web.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h5>Search</h5>
<hr />
<div class="alert-warning">
    @Model.Result
</div>
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.Stadium"></label>
        </dt>
        <dd>

            <input asp-for="FileUpload.Stadium" type="text" style="border-radius: 15px; padding:2px;" />
            <span asp-validation-for="FileUpload.Stadium"></span>

        </dd>

        <dt>
            <label asp-for="FileUpload.DateTime"></label>
        </dt>
        <dd>
            <input id="input_datetime" asp-for="FileUpload.DateTime" style="border-radius: 15px; padding:2px;" />
            <span asp-validation-for="FileUpload.DateTime"></span>
        </dd>

        <dt>
            <label asp-for="FileUpload.ResultCount"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.ResultCount" type="text" style="border-radius: 15px; padding:2px;" />
            <span asp-validation-for="FileUpload.ResultCount"></span>
        </dd>

        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <div class="btn btn btn-light" style="border-radius: 15px; padding:5px;">
                <input asp-for="FileUpload.FormFile" type="file" accept=".png,.jpg,.jpeg,.gif,.bmp,.heic" />
                <span asp-validation-for="FileUpload.FormFile"></span>
            </div>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn btn-dark" style="border-radius:10px;" type="submit" value="Upload" />
</form>
<hr />
<div class="col-sm-8">
    @{
        if (ViewData["showButtonDownloaddAll"] != null)
            if (ViewData["showButtonDownloaddAll"].ToString() == "yes")
            {
        <form asp-page-handler="DownloadAllZip" asp-route-stadium="@ViewData["StadiumName"]" asp-route-datetime="@ViewData["DateTimePosted"]" method="post">
            <button class="btn btn-dark" style="border-radius:10px;float:right;"> Download All </button>
        </form>

        @await Component.InvokeAsync("SearchResult", new { folder = Model.ResultPath })

            }

    }



</div>

