.alert-custom {
    background-color: #d9534f;
    color: #fff;
}
.ajax-file-upload-statusbar {
    border: 1px solid #0ba1b5;
    margin-top: 10px;
    width: 100%;
    margin-right: 10px;
    margin: 5px 5px 5px 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*padding: 5px 5px 5px 15px*/
    padding: 2px 2px 0px 10px;
}

.ajax-file-upload-filename {
    width: 300px;
    height: auto;
    margin: 0 5px 5px 0px;
    font-size: x-small;
}

.ajax-file-upload-filesize {
width: 50px;
height: auto;
margin: 0 5px 5px 0px;
display: inline-block;
vertical-align:middle;
}
.ajax-file-upload-progress {
margin: 5px 10px 5px 0px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
color:#FFFFFF;

}
.ajax-file-upload-bar {
background-color: #0ba1b5;
width: 0;
height: 10px;
border-radius: 3px;
color:#FFFFFF;

}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
    -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
    -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
    box-shadow: inset 0 39px 0 -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 8px;
    font-weight: normal;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: top;
    margin: 1px 10px 5px 0px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 8px;
font-weight: normal;
padding: 4px 10px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /*font-weight: bold;*/
    padding: 15px 20px;
    cursor: pointer;
    line-height: 15px;
    height: 25px;
    margin: 0 10px 10px 0;
    display: inline-block;
    background: #343a40;
    border: 1px solid #41474d;
    color: #888;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 2px 0 0 #41474d;
    -webkit-box-shadow: 0 2px 0 0 #41474d;
    box-shadow: 0 2px 0 0 #41474d;
    padding: 6px 10px 4px 10px;
    color: #fff;
    background: #343a40;
    border: none;
    -moz-box-shadow: 0 2px 0 0 #41474d;
    -webkit-box-shadow: 0 2px 0 0 #41474d;
    box-shadow: 0 2px 0 0 #41474d;
    vertical-align: middle;
}

.ajax-file-upload:hover {
      background: #3396c9;
      -moz-box-shadow: 0 2px 0 0 #15719f;
      -webkit-box-shadow: 0 2px 0 0 #15719f;
      box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop
{

	border:1px dotted #A5A5C7;
	width:60%;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
}

.state-hover
{
		border:2px solid #A5A5C7;
}
.ajax-file-upload-container {
    margin: 5px 0px 20px 0px;
    overflow-y: auto;
    max-height: 300px;
    width: max-content;
    padding-right: 15px;
}